/* FONTS */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
}

html {
  height: 100%;
  font-size: 18px;
  font-family: 'Commissioner', sans-serif;
}

/* body {

} */
li {
  list-style: none;
}

a {
  text-decoration: none;
}

input[type="button"],
input[type="submit"],
button, a {
  cursor: pointer;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

/* Layout */
@media screen and (min-width: 768px) {
  .hide-for-mobile {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .hide-for-desktop {
    display: none;
  }
}

/* Layout */
/* Colors */
/* FONTS */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.22222rem 1.333333rem;
}

header img {
  width: 8.944rem;
  height: 1.666rem;
}

header #mobile-nav img {
  width: 1.333rem;
  height: 1rem;
}

@media screen and (min-width: 768px) {
  header {
    padding: 0 0 0 2.166664rem;
  }
  header img {
    width: 8.944rem;
    height: 1.666rem;
  }
  header #tablet-and-desktop-nav {
    background-color: #F94F4F;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: clamp(24.333rem, 57.032vw, 30.833rem);
    padding: 57px 40px 57px 33px;
  }
  header #tablet-and-desktop-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header #tablet-and-desktop-nav ul li {
    font-size: 0.83333rem;
    color: #FFF;
  }
  header #tablet-and-desktop-nav button {
    font-weight: 800;
    background-color: #191921;
    color: #FFF;
    font-size: 0.888rem;
    border: none;
    padding: 1.439em 1.126em;
    margin-left: 1.555rem;
  }
}

.hero {
  position: relative;
  margin-bottom: 5.333rem;
}

.hero__image {
  margin-bottom: 3.111rem;
}

.hero__showcase {
  padding: 0 1.333rem;
}

.hero__showcase h1 {
  font-size: 2.22222rem;
  color: #000;
  font-weight: 800;
  margin-bottom: 0.833rem;
}

.hero__showcase p {
  line-height: 1.388rem;
  font-size: 0.83333rem;
  margin-bottom: 2.222rem;
}

.hero__showcase button {
  font-size: 1rem;
  color: #FFF;
  font-weight: 800;
  background-color: #F94F4F;
  border: none;
  padding: 1.389em 2.222em;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-bottom: 8.3333rem;
    margin-bottom: unset;
    background-color: #fff;
    overflow-y: hidden;
  }
  .hero__image {
    position: absolute;
    z-index: 0;
    margin-bottom: unset;
    right: 0;
    bottom: 0;
    top: 0;
  }
  .hero__showcase {
    position: relative;
    z-index: 1;
    padding: 4.27778rem 2.166664rem 0 2.166664rem;
    width: 61.98vw;
    margin-bottom: unset;
  }
  .hero__showcase h1 {
    font-size: 3.11111rem;
    color: #000;
    font-weight: 800;
    margin-bottom: 0.833rem;
  }
  .hero__showcase p {
    line-height: 1.388rem;
    font-size: 0.83333rem;
    margin-bottom: 1.777rem;
  }
  .hero__showcase button {
    font-size: 1rem;
    color: #FFF;
    font-weight: 800;
    background-color: #F94F4F;
    border: none;
    padding: 1.389em 2.222em;
  }
}

.design {
  position: relative;
  background-color: #191921;
  padding-bottom: 4.611111rem;
}

.design__image {
  margin-bottom: 4rem;
  position: relative;
}

.design__image #logo {
  position: absolute;
  bottom: -0.555555rem;
  left: 1.333rem;
  width: 3.5rem;
  height: 1.611111rem;
}

.design__text {
  color: #FFF;
  padding: 0 1.333rem;
}

.design__text h2 {
  font-size: 1.77778em;
  margin-bottom: 0.750033em;
  font-weight: 800;
}

.design__text h2 span {
  color: #F94F4F;
}

.design__text p {
  font-size: 0.83333rem;
  line-height: 1.38888rem;
  margin-bottom: 2.22222rem;
}

.design__text a {
  color: #F94F4F;
  font-weight: 800;
  border-bottom: 2px solid #F94F4F;
  padding-bottom: 0.5rem;
}

@media screen and (min-width: 768px) {
  .design {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: unset;
  }
  .design__image {
    margin-bottom: unset;
    position: relative;
  }
  .design__image #logo {
    position: absolute;
    bottom: unset;
    left: 345px;
    top: 142px;
    width: 3.5rem;
    height: 1.611111rem;
  }
  .design__text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 6.666666rem 2.222222rem 0 3.833333rem;
  }
  .design__text h2 {
    font-size: 1.77778em;
    margin-bottom: 1em;
    padding-right: 2rem;
  }
  .design__text h2 span {
    color: #F94F4F;
  }
  .design__text p {
    font-size: 0.83333rem;
    line-height: 1.38888rem;
    margin-bottom: 2.22222rem;
  }
  .design__text a {
    color: #F94F4F;
    font-weight: 800;
    border-bottom: 2px solid #F94F4F;
    padding-bottom: 0.5rem;
  }
}

.our-approach {
  padding: 5.333333rem 1.333333rem;
  background-color: #F94F4F;
  color: #FFF;
}

.our-approach h2 {
  font-size: 1.77778em;
  margin-bottom: 5.166666rem;
}

.our-approach__list .approach h3 {
  font-size: 0.83333rem;
  font-weight: 800;
  margin-bottom: 0.833333rem;
  position: relative;
}

.our-approach__list .approach:first-child h3::before {
  content: "01";
  font-size: 4.444444rem;
  font-weight: 800;
  mix-blend-mode: normal;
  opacity: 0.25;
  position: absolute;
  top: -2.888888rem;
  left: -0.89rem;
}

.our-approach__list .approach:nth-child(2) h3::before {
  content: "02";
  font-size: 4.444444rem;
  font-weight: 800;
  mix-blend-mode: normal;
  opacity: 0.25;
  position: absolute;
  top: -2.888888rem;
  left: -0.89rem;
}

.our-approach__list .approach:last-child h3::before {
  content: "03";
  font-size: 4.444444rem;
  font-weight: 800;
  mix-blend-mode: normal;
  opacity: 0.25;
  position: absolute;
  top: -2.888888rem;
  left: -0.89rem;
}

.our-approach__list .approach:not(:last-child) p {
  margin-bottom: 4.666666rem;
}

.our-approach__list .approach p {
  font-size: 0.83333rem;
  line-height: 1.38888rem;
}

@media screen and (min-width: 768px) {
  .our-approach {
    position: relative;
    padding: 0 0 23.944444rem 0;
    background-color: #FFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .our-approach h2 {
    font-size: 1.77778em;
    margin-bottom: unset;
    color: #000;
    padding: 4.03125em 13em 0 1.21875em;
  }
  .our-approach__list {
    padding: 9.111111rem 2.222222rem 6.666666rem 3.277777rem;
    position: absolute;
    z-index: 2;
    top: -6.388888rem;
    right: 0;
    bottom: 0;
    width: 24.333333rem;
    background-color: #F94F4F;
  }
  .our-approach__list .approach h3 {
    font-size: 0.83333rem;
    font-weight: 800;
    margin-bottom: 0.833333rem;
    position: relative;
  }
  .our-approach__list .approach:first-child h3::before {
    content: "01";
    font-size: 4.444444rem;
    font-weight: 800;
    mix-blend-mode: normal;
    opacity: 0.25;
    position: absolute;
    top: -2.888888rem;
    left: -0.89rem;
  }
  .our-approach__list .approach:nth-child(2) h3::before {
    content: "02";
    font-size: 4.444444rem;
    font-weight: 800;
    mix-blend-mode: normal;
    opacity: 0.25;
    position: absolute;
    top: -2.888888rem;
    left: -0.89rem;
  }
  .our-approach__list .approach:last-child h3::before {
    content: "03";
    font-size: 4.444444rem;
    font-weight: 800;
    mix-blend-mode: normal;
    opacity: 0.25;
    position: absolute;
    top: -2.888888rem;
    left: -0.89rem;
  }
  .our-approach__list .approach:not(:last-child) p {
    margin-bottom: 4.666666rem;
  }
  .our-approach__list .approach p {
    font-size: 0.83333rem;
    line-height: 1.38888rem;
  }
}

.guidelines {
  background-color: red;
}
/*# sourceMappingURL=styles.css.map */