footer {
    padding: 5.555555rem 1.333333rem 0 1.333333rem;

    h2 {
        font-size: $mobile-tablet-h2;
        margin-bottom: 2.611111rem;
    }

    button {
        font-size: 0.888888rem;
        color: #FFF;
        font-weight: 800;
        background-color: $red;
        border: none;
        padding: 1.375em 2.812em;
        margin-bottom: 5.555555rem;
    }
}

@media screen and (min-width: $tablet-down) {
    footer {
        padding: 0 2.222222rem 5.555555rem 3.166666rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-size: $mobile-tablet-h2;
            margin-bottom: unset;
            font-weight: 800;
            width: 22.111111rem;
        }
    
        button {
            font-size: 0.888888rem;
            color: #FFF;
            font-weight: 800;
            background-color: $red;
            border: none;
            padding: 1.375em 2.812em;
            margin-bottom: unset;
            font-family: 'Commissioner', sans-serif;;
        }
    }
}