.hero {
    position: relative;
    margin-bottom: 5.333rem;

    #mobile-menu {
        position: absolute;
        background-color: $black;
        top: 0;
        right: 1.444444rem;
        padding: 1.777777rem 1.444444rem 1.555555rem 1.444444rem;  // 32px 26px 28px 26px
        z-index: 1;
        ul li {
            color: #FFF;
            text-align: center;
            margin-bottom: 2rem;
        }

        button {
            font-size: 1rem;
            color: #FFF;
            font-weight: 800;
            background-color: $red;
            border: none;
            padding: 1.277777rem 2.444444rem;
            font-family: 'Commissioner', sans-serif;
        }
    } 
    &__image {
        margin-bottom: 3.111rem;
    }

    &__showcase {
        padding: 0 1.333rem;

        h1 {
            font-size: $mobile-h1;
            color: #000;
            font-weight: 800;
            margin-bottom: 0.833333rem;
        }

        p {
            line-height: 1.388rem;
            font-size: $mobile-tablet-txt-size;
            margin-bottom: 2.222rem;
        }

        button {
            font-size: 1rem;
            color: #FFF;
            font-weight: 800;
            background-color: $red;
            border: none;
            padding: 1.389em 2.222em;
            font-family: 'Commissioner', sans-serif;
        }
    }
}

@media screen and (min-width: $tablet-down) {
    .hero {
        padding-bottom: 8.3333rem;
        margin-bottom: unset;
        background-color: #fff;
        overflow-y: hidden;

        &__image {
            position: absolute;
            z-index: 0;
            margin-bottom: unset;
            right: 0;
            bottom: 0;
            top: 0;
        }

        &__showcase {
            position: relative;
            z-index: 1;
            padding: 4.27778rem 2.166664rem 0 2.166664rem;
            width: 61.98vw;
            margin-bottom: unset;

            h1 {
                font-size: $tablet-h1;
                margin-bottom: 0.833rem;
            }

            p {
                margin-bottom: 1.777rem;
            }
        }
    }
}

@media screen and (min-width: $desktop) {
    .hero {
        padding-bottom: 8.3333rem;
        margin-bottom: unset;
        background-color: #fff;
        overflow-y: hidden;

        &__image {
            position: absolute;
            z-index: 0;
            margin-bottom: unset;
            right: 0;
            bottom: 0;
            top: 0;
        }

        &__showcase {
            position: relative;
            z-index: 1;
            padding: 4.27778rem 0 0 2.166664rem;
            width: 61.98vw;
            margin-bottom: unset;
            width: 50%;


            h1 {
                font-size: $desktop-h1;
                margin-bottom: 2.166666rem;
            }

            p {
                font-size: 1rem;
                margin-bottom: 2.666666rem;
                width: 80%;
                line-height: $desktop-line-height;
            }

            button {
                font-size: 1rem;
            }
        }
    }
}