.our-approach {
    padding: 5.333333rem 1.333333rem;
    background-color: $red;
    color: #FFF;

    h2 {
        font-size: $mobile-tablet-h2;
        margin-bottom: 5.166666rem;
    }

    &__list {

        .approach h3 {
            font-size: $mobile-tablet-h3;
            font-weight: 800;
            margin-bottom: 0.833333rem;
            position: relative;
        }

        .approach h3::before {
            font-size: 4.444444rem;
            font-weight: 800;
            mix-blend-mode: normal;
            opacity: 0.25;
            position: absolute;
        }

        .approach:first-child h3::before {
            content: "01";
            top: -2.888888rem;
            left: -0.89rem;
        }

        .approach:nth-child(2) h3::before {
            content: "02";
            top: -2.888888rem;
            left: -0.89rem;
        }

        .approach:last-child h3::before {
            content: "03";
            top: -2.888888rem;
            left: -0.89rem;
        }

        .approach:not(:last-child) p {
            margin-bottom: 4.666666rem;
        }

        .approach p {
            font-size: $mobile-tablet-txt-size;
            line-height: $mobile-tablet-line-height;
        }
    }
}

@media screen and (min-width: $tablet-down) {
    .our-approach {
        position: relative;
        padding: 0 0 23.944444rem 0;
        background-color: #FFF;
        display: flex;
        justify-content: space-between;

        h2 {
            margin-bottom: unset;
            color: #000;
            padding-top: 4.03125em;
            padding-left: 1.21875em;
            width: 42vw;
        }

        &__list {
            padding: 9.111111rem 2.222222rem 6.666666rem 3.277777rem;
            position: absolute;
            z-index: 2;
            top: -6.388888rem;
            right: 0;
            bottom: 0;
            width: clamp(24.333333rem, 57.033vw, 40rem); // 438px
            background-color: $red;

            .approach h3 {
                margin-bottom: 0.833333rem;
            }

            .approach h3::before {
                font-size: 4.444444rem;
                top: -2.888888rem;
                left: -0.89rem;
            }

            .approach:not(:last-child) p {
                margin-bottom: 4.666666rem;
            }
        }
    }
}

@media screen and (min-width: $desktop) {
    .our-approach {
        position: relative;
        padding: 0 0 28.222222rem 0 !important;
        background-color: #FFF;
        display: flex;
        justify-content: space-between;

        h2 {
            position: relative;
            z-index: 3;
            margin-bottom: unset;
            padding-top: 3.57143em;
            padding-left: 2.94643em;
            width: 45vw;
            font-size: $desktop-h2;
        }

        &__list {
            padding: 13.555555rem 5.888888rem 11.111111rem 18rem !important;
            position: absolute;
            z-index: 2;
            top: -10.389rem;
            right: 0;
            bottom: 0;
            width: 60.764vw; // 875px
            height: 61.111111rem;
            background-color: $red;

            .approach h3 {
                margin-bottom: 1.333333rem;
                font-size: $desktop-h3;
            }

            .approach h3::before {
                font-size: 4.444444rem;
                top: -2.888888rem;
                left: -3.3rem !important;
            }

            .approach:not(:last-child) p {
                margin-bottom: 4.666666rem;
            }

            p {
                font-size: 1rem !important;
                line-height: 2.133em !important;
            }
        }
    }
}