/* FONTS */
$mobile-tablet-txt-size: 0.833333rem; // 15px
$mobile-tablet-line-height: 1.38888rem;

$mobile-h1: 2.222222rem;
$mobile-tablet-h2: 1.777777em;
$mobile-tablet-h3: 0.833333rem;

$tablet-h1: 3.111111rem;


$desktop-h1: 4.444444rem;
$desktop-h2: 3.111111rem;
$desktop-h3: 1.666666rem;
$desktop-line-height: 1.38888rem;